* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #000000;
  overflow: hidden;
}

li {
  color: #ffffff;
}

a {
  font-size: 2rem;
  color: #ffffff;
  text-decoration: none;
}

.box {
  position: relative;
  width: 600px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box h2 {
  color: #ffffff;
  font-size: 5em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 120px #00b3ff;
}

.lightbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  border-radius: 10px;
  background: #ffffff;
  z-index: 2;
  -webkit-box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 120px #00b3ff;
          box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 120px #00b3ff;
  -webkit-animation: animatelightbar 5s linear infinite;
          animation: animatelightbar 5s linear infinite;
}

@-webkit-keyframes animatelightbar {
  0%, 5% {
    -webkit-transform: scaleY(0) translateX(0);
            transform: scaleY(0) translateX(0);
  }
  10% {
    -webkit-transform: scaleY(1) translateX(0);
            transform: scaleY(1) translateX(0);
  }
  90% {
    -webkit-transform: scaleY(1) translateX(calc(600px - 10px));
            transform: scaleY(1) translateX(calc(600px - 10px));
  }
  95%, 100% {
    -webkit-transform: scaleY(0) translateX(calc(600px - 10px));
            transform: scaleY(0) translateX(calc(600px - 10px));
  }
}

@keyframes animatelightbar {
  0%, 5% {
    -webkit-transform: scaleY(0) translateX(0);
            transform: scaleY(0) translateX(0);
  }
  10% {
    -webkit-transform: scaleY(1) translateX(0);
            transform: scaleY(1) translateX(0);
  }
  90% {
    -webkit-transform: scaleY(1) translateX(calc(600px - 10px));
            transform: scaleY(1) translateX(calc(600px - 10px));
  }
  95%, 100% {
    -webkit-transform: scaleY(0) translateX(calc(600px - 10px));
            transform: scaleY(0) translateX(calc(600px - 10px));
  }
}

.topLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  -webkit-animation: animatetopLayer 10s linear infinite;
          animation: animatetopLayer 10s linear infinite;
}

@-webkit-keyframes animatetopLayer {
  0%, 2.5% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  5% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  45% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  47.5%, 50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  50.001%, 52.5% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  55% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  95% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  97.5%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes animatetopLayer {
  0%, 2.5% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  5% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  45% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  47.5%, 50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  50.001%, 52.5% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  55% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  95% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  97.5%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.h2__title {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-family: consolas;
  font-size: 4em;
  z-index: 100000;
  pointer-events: none;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: url(#gooey);
          filter: url(#gooey);
}

.satisfying {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .circle {
  position: absolute;
  min-width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #ffffff;
}

.container .circle:before {
  content: '';
  position: absolute;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
  border-radius: 50%;
  background: #ffffff;
  z-index: -1;
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

.container .circle.circle1,
.container .circle.circle1:before {
  background: -webkit-gradient(linear, left top, right top, from(#f00), to(#0ff));
  background: -o-linear-gradient(left, #f00, #0ff);
  background: linear-gradient(90deg, #f00, #0ff);
}

.container .circle.circle2,
.container .circle.circle2:before {
  background: -webkit-gradient(linear, left top, right top, from(#ffeb3b), to(#da00ff));
  background: -o-linear-gradient(left, #ffeb3b, #da00ff);
  background: linear-gradient(90deg, #ffeb3b, #da00ff);
}

.container .circle.circle1 {
  -webkit-animation: animate1 5s linear infinite;
          animation: animate1 5s linear infinite;
}

@-webkit-keyframes animate1 {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
  }
  50% {
    -webkit-transform: translateX(0) rotate(360deg);
            transform: translateX(0) rotate(360deg);
  }
  100% {
    -webkit-transform: translateX(0) rotate(720deg);
            transform: translateX(0) rotate(720deg);
  }
}

@keyframes animate1 {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
  }
  50% {
    -webkit-transform: translateX(0) rotate(360deg);
            transform: translateX(0) rotate(360deg);
  }
  100% {
    -webkit-transform: translateX(0) rotate(720deg);
            transform: translateX(0) rotate(720deg);
  }
}

.container .circle.circle2 {
  -webkit-animation: animate2 5s linear infinite;
          animation: animate2 5s linear infinite;
}

@-webkit-keyframes animate2 {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
  }
  50% {
    -webkit-transform: translateX(0px) rotate(-360deg);
            transform: translateX(0px) rotate(-360deg);
  }
  100% {
    -webkit-transform: translateX(0) rotate(-720deg);
            transform: translateX(0) rotate(-720deg);
  }
}

@keyframes animate2 {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
  }
  50% {
    -webkit-transform: translateX(0px) rotate(-360deg);
            transform: translateX(0px) rotate(-360deg);
  }
  100% {
    -webkit-transform: translateX(0) rotate(-720deg);
            transform: translateX(0) rotate(-720deg);
  }
}

svg {
  width: 0;
  height: 0;
}

.buttons {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.btn {
  min-width: 200px;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 1px 2px #000000;
  padding: 20px;
  border-radius: 15px;
  background-size: 220%;
  -webkit-box-shadow: 0 5px 5px -5px #010101;
          box-shadow: 0 5px 5px -5px #010101;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.btn-1 {
  background-image: -o-linear-gradient(45deg, #ed1e79, #662d8c, #ed1e79);
  background-image: linear-gradient(45deg, #ed1e79, #662d8c, #ed1e79);
}

.btn-2 {
  background-image: -o-linear-gradient(45deg, #63e2ff, #d585ff, #63e2ff);
  background-image: linear-gradient(45deg, #63e2ff, #d585ff, #63e2ff);
}

.btn-3 {
  background-image: -o-linear-gradient(45deg, #fcee21, #009e00, #fcee21);
  background-image: linear-gradient(45deg, #fcee21, #009e00, #fcee21);
}

.btn-4 {
  background-image: -o-linear-gradient(45deg, #fbb03b, #d4145a, #fbb03b);
  background-image: linear-gradient(45deg, #fbb03b, #d4145a, #fbb03b);
}

.btn:hover {
  background-position: right;
}

:root {
  --blue: #3b7ded;
  --green: #2ba24c;
  --yellow: #f0b501;
  --red: #e43e2b;
}

.google {
  width: 180px;
  height: 200px;
  position: relative;
  border-top: 50px solid var(--blue);
  border-right: 50px solid var(--blue);
  border-bottom: 50px solid var(--blue);
  border-radius: 0 0 175px 0;
}

.google::before {
  display: block;
  content: '';
  width: 250px;
  height: 250px;
  border-top: 50px solid var(--red);
  border-bottom: 50px solid var(--green);
  border-left: 50px solid var(--yellow);
  border-right: 50px solid transparent;
  border-radius: 200px;
  position: absolute;
  top: -200px;
  right: -50px;
}

.error__box {
  color: #ffffff;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

.error__box h2 {
  margin: 0;
  font-weight: 700;
  font-size: 25vh;
  line-height: 1;
  -webkit-animation: light 4s steps(1) infinite;
          animation: light 4s steps(1) infinite;
}

.error__box h2 p {
  font-size: 3vh;
}

@-webkit-keyframes light {
  33% {
    text-shadow: 0 0 20px #e900fe;
  }
  66% {
    text-shadow: 0 0 20px #6de33c;
  }
}

@keyframes light {
  33% {
    text-shadow: 0 0 20px #e900fe;
  }
  66% {
    text-shadow: 0 0 20px #6de33c;
  }
}
